.projects  {
    margin-top: 50px;
}

.projects h2 {
    color:  rgb(39,10,121);
    margin-bottom: 20px;
    padding: 10px;
}

.projects_nav, .project_nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.projects_nav {
    margin-bottom: 15px;
}

.projects_nav span {
    background-color: cadetblue;
    display: flex; align-items: center; justify-content: center;
    padding: 5px; width: 33.3%; height: 50px; 
    border-style: solid; border-width: thin;
    color: white;
}
.projects_nav span:hover {
    background-color: orange;
    cursor: pointer;
    color: black;
}

.project_nav {
    border-style: solid;
}
.project_nav span {
    width: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}


.highlighted {
    background-color: rgb(39,10,121);
    color: white
}
.projects_nav .active{
    background-color: red;
}

.summary, .screenshots {
    margin-top: 15px;
}
.summary h3 {
    color: white;
    background-color: rgb(3,125,174);
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.summary div {
    padding: 10px;
}
.summary p{
    display: flex;
    margin-bottom: 10px;
}

.screenshots div {
    text-align: center;
    margin: 15px auto;
    width: 90%;
    padding: 15px;
    border-style: solid; border-width: thin;
    border-color: rgb(39,10,121);
}
.screenshots img {
    width: 75%;
    height: auto;
}

.links{
    display: flex;
    justify-content: space-evenly;
}
.links div {
    background-color: rgb(207, 137, 7);
    border-style: solid;
    border-width: thin;
}
.links div:hover{
    background-color: red;
}
.links div a {
    color: white;
    font-weight: bold;
}

@media screen and (min-width:700px) {
    .projects>div {
        display: flex;
        justify-content: space-evenly;
    }
    .projects h2{
        width: 40%;
        text-align: center;
    }
    .projects_nav{
        flex-direction: column;
        width: 35%;
    }
    .project {
        width: 60%;
    }
    .projects_nav span{
        width: 100%;
        padding: 20px;
        margin-bottom: 60px;
        font-size: 20px;
        overflow: hidden;
    }
}